* {
	margin: 0;
	box-sizing: border-box;
}
:root {
	--color-1: #1969b7;
	--color-2: #29a2f5;
	--color-header: #1969b779;
	--color-fondo: #1968b7;
	--color-texto-1: #f7c10e;
	--color-texto-2: #1969b7;
	--color-texto-3: #1969b7;
}
body {
	font-family: 'Titillium Web', sans-serif;
}
.main {
	width: 100%;
}
/*SECTION 1*/
.section_1 {
	background: url(/images/wallpaper.png) no-repeat right top;
	height: calc(100vh);
}
/*HEADER*/
.header {
	background: var(--color-header);
	width: 100%;
	height: 75px;
	display: flex;
	border-bottom: solid 2px var(--color-fondo);
}

.header-logo {
	background: #1969b779;
	width: 30%;
}

.logo {
	object-fit: cover;
	height: 100%;
	padding: 20px 30px;
}

.nav {
	width: 70%;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-right: 50px;
}

.link {
	text-decoration: none;
	color: var(--color-texto-1);
	margin: 1% 3%;
	font-size: 1.2em;
}

.link:hover {
	color: var(--color-2);
}

/*BANNER*/

.banner {
	background: #29a2f5;
	width: 100%;
	height: calc(100vh - 75px);
	display: flex;
	align-items: center;
}

.banner_text {
	background: #29a2f5;
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.banner_title-1 {
	font-size: 3em;
	color: var(--color-texto-1);
	line-height: 5px;
}

.banner_title-2 {
	font-size: 5em;
	color: var(--color-texto-3);
}

.text {
	font-size: 1.5em;
	color: white;
}

.banner_link {
	width: 25%;
	background: var(--color-1);
	color: var(--color-texto-1);
	text-decoration: none;
	padding: 20px 30px;
	margin-top: 40px;
	text-align: center;
	font-size: 1.2em;
	border: 25px;
}

table {
	background-color: white;
	width: 100%;
}
th,
td {
	border: solid 1px var(--color-1);
}
thead {
	background-color: var(--color-1);
	border-bottom: solid 5px var(--color-1);
	color: var(--color-texto-1);
}
tr:nth-child(even) {
	background-color: var(--color-header);
}

/*EL CLUB*/
.container {
	margin: auto;
}
.section_2 {
	width: 75%;
	margin: auto;
	padding: 100px 0;
}
.section_2-title {
	font-family: 'roboto', sans-serif;
	font-size: 40px;
	color: var(--color-texto-1);
	font-weight: bold;
}
.section_2-title1 {
	font-family: 'roboto', sans-serif;
	font-size: 30px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title2 {
	font-family: 'roboto', sans-serif;
	font-size: 30px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title3 {
	font-family: 'roboto', sans-serif;
	font-size: 30px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title4 {
	font-family: 'roboto', sans-serif;
	font-size: 20px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title5 {
	font-family: 'roboto', sans-serif;
	font-size: 30px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title6 {
	font-family: 'roboto', sans-serif;
	font-size: 20px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title7 {
	font-family: 'roboto', sans-serif;
	font-size: 30px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.section_2-title8 {
	font-family: 'roboto', sans-serif;
	font-size: 20px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.us {
	display: flex;
}
.us-text {
	width: 60%;
	padding: 0 10% 0 0;
}
.us-paragraph {
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	color: var(--color-1);
	text-align: justify;
}
.paragraph-text {
	margin: 20px 0;
}
.us-img {
	width: 40%;
}
.img-img {
	object-fit: cover;
	width: 100%;
	border-radius: 5px;
}

/*PATROCINADORES*/
.section_2 hr {
	width: 200px;
	height: 10px;
	border: none;
	background-color: #29a2f5;
}
.galery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0px;
}
.galery-content {
	width: 20%;
	text-align: center;
}
.galery-content2 {
	width: 10%;
}
.galery-content3 {
	width: 10%;
	text-align: center;
}
.galery-content img {
	object-fit: cover;
	width: 100%;
}
/*IDENTIDAD CORPORATIVA*/
.section_2-title9 {
	font-family: 'roboto', sans-serif;
	font-size: 40px;
	color: var(--color-texto-2);
	font-weight: bold;
}
.us-img1 {
	width: 40%;
}
.img-img1 {
	object-fit: cover;
	width: 100%;
	border-radius: 10px;
}
/*BALONMANO*/
.section_3 {
	width: 75%;
	margin: auto;
	padding: 100px 0;
}
.section_3-title {
	font-family: 'roboto', sans-serif;
	font-size: 40px;
	color: var(--color-texto-1);
	font-weight: bold;
}
.section_3-title1 {
	font-family: 'roboto', sans-serif;
	font-size: 30px;
	color: var(--color-texto-2);
	font-weight: bold;
}
/*ASOCIADOS*/
.section_4 {
	width: 75%;
	margin: auto;
	padding: 100px 0;
}
.section_4-title {
	font-family: 'roboto', sans-serif;
	font-size: 40px;
	color: var(--color-texto-1);
	font-weight: bold;
}
/*FORMS*/
.section_5 {
	position: relative;
}
.map {
	background-color: var(--color-texto-1);
	width: 100%;
	height: 100vh;
}
.map iframe {
	background-color: var(--color-texto-1);
	width: 100%;
	height: 100vh;
}
.form-container {
	background-color: var(--color-texto-1);
	width: 50%;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -25%;
}
.title-form {
	font-size: 28px;
	text-align: center;
	margin: 25px 0px;
}
.form {
	background-color: blanchedalmond;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 10px;
}
.box {
	margin: 10px 10px;
}
.item1,
.item3,
.item5,
.item7,
.item9 {
	height: 40px;
	border: 0px;
	outline: none;
	border-radius: 5px;
}
.item2,
.item4,
.item6,
.item8,
.item10 {
	height: 40px;
	border: 0px;
	outline: none;
	border-radius: 5px;
}
.submit {
	grid-column: 1/3;
	width: 25%;
	height: 60px;
	border: 0px;
	outline: none;
	border-radius: 5px;
	margin: auto;
}
.warnings {
	width: 200px;
	text-align: center;
	margin: auto;
	color: #b06ab3;
	padding-top: 20px;
}
